<div class="div-pai">
  <h1>Carros disponíveis:</h1>

  <form method="GET" action="/carros">
    <label for="search">Buscar por modelo:</label>
    <input type="text" name="q" id="search" placeholder="Modelo do carro">
    <button type="submit">Buscar</button>
  </form>

  <div class="carros-container">
    {{#each carros}}
      <div>#{{this.id}} - <span class="bold"><a href="/carros/{{this.id}}">{{this.modelo}}</a></span> / Placa: {{this.placa}} / km: {{this.km}}</div>
    {{/each}}
  </div>

  <br>
  <br>
  <a href="/" class="btn" >Adicionar Carro</a>
</div>
