<div class="div-pai">
  <h1>Carros disponíveis:</h1>

  <form method="GET" action="/carros">
    <label for="search">Buscar por modelo:</label>
    <input type="text" name="q" id="search" placeholder="Modelo do carro">
    <button type="submit">Buscar</button>
  </form>

  <div class="carros-container">
    {{#each carros}}
      <div>#{{this.id}} - <span class="bold"><a href="/carros/{{this.id}}">{{this.modelo}}</a></span> / Placa: {{this.placa}} / km: {{this.km}}</div>
    {{/each}}
  </div>

  <br>
  <br>
    <a href="/cadastro_car" class="btn" >Adicionar Carro</a>
</div>


<style>
  .div-pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
    margin-right: 10px;
  }

  input[type="text"] {
    width: 300px;
    padding: 5px;
    font-size: 16px;
  }

  button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #070707;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0a0a0a;
  }

  .carros-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .carros-container div {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .bold {
    font-weight: bold;
  }

  .btn {
    padding: 10px;
    font-size: 16px;
    background-color: #141414;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .btn:hover {
    background-color: #111111;
  }
</style>