<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<h1 style="text-align: center;">Unidades Cadastradas</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Agência</th>
      <th scope="col">Cidade</th>
      <th scope="col">Vagas</th>
      <th scope="col">Visualizar</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
      </tr>
  </thead>
  {{#each listar}}
  <tbody>
    <tr>
      <th scope="row">{{this.id}}</th>
      <td><a href="/unid/{{this.id}}">{{nome}}</a></td>
      <td>{{cidade}}</td>
      <td>{{qtd}} </td>
      <td><a href="/unid/{{this.id}}"><button type="button" class="btn btn-success">Ver</button></a></td>
       <td><a href="/unid/edit/{{this.id}}"><button type="button" class="btn btn-primary">Editar</button></a></td>
      <td><a href="/unid/remove/{{this.id}}" ><button type="button" class="btn btn-danger">Excluir</button></a></td>
      <!--<td><button type="button" class="btn btn-success"><a href="/prod/{{this.id}}">Ver</a></button></td> -->
    </tr>
  
  </tbody>
   {{/each}}
</table>



</div>