<h1>Painel de Busca</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Agência</th>
      <th scope="col">Cidade</th>
      <th scope="col">Vagas</th>
      <th scope="col">Visualizar</th>
      <th scope="col">Editar</th>
      <th scope="col">Excluir</th>
      </tr>
  </thead>
  {{#each listar}}
  <tbody>
    <tr>
      <th scope="row">{{this.id}}</th>
      <td><a href="/unid/{{this.id}}">{{nome}}</a></td>
      <td>{{cidade}}</td>
      <td>{{qtd}} </td>
      <td><a href="/unid/{{this.id}}"><button type="button" class="btn btn-success">Ver</button></a></td>
       <td><a href="/unid/edit/{{this.id}}"><button type="button" class="btn btn-primary">Editar</button></a></td>
      <td><a href="/unid/remove/{{this.id}}" ><button type="button" class="btn btn-danger">Excluir</button></a></td>
      <!--<td><button type="button" class="btn btn-success"><a href="/prod/{{this.id}}">Ver</a></button></td> -->
    </tr>
  
  </tbody>
   {{/each}}
</table>



</div>